name: main

on:
  push:
    branches: [main, test-me-*]
    tags: '*'
  pull_request:

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"
    steps:
      - uses: asottile/workflows/.github/actions/fast-checkout@v1.8.1
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install the project
        run: uv sync --all-extras --group dev
      - name: Run tests
        run: |
            uv run coverage erase && \
            uv run coverage run -m pytest && \
            uv run coverage report -m
